<ion-header>
  <ion-toolbar>
    <ion-title>
      Desconto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Desconto de Venda</ion-card-subtitle>
      <ion-card-title>Faça o Cálculo de Desconto</ion-card-title>
      <img src="/assets/imagens/desconto.png" alt="" />
    
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="openModal2()" expand="full" color="secondary">
        Calcular
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
